body {
  margin: 0;
  font-family: 'Georgia', serif;
  background-color: #000;
  color: white;
}
/* Estilos para la portada */
.portada {
  padding: 40px 20px;
  max-width: 1200px;
  margin: auto;
}
/* Contenedor principal */
.contenedor-cajon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
/* Estilos para las imágenes y el título */
.imagen-izquierda,
.imagen-derecha {
  width: 100%;
  text-align: center;
  position: relative;
}

.imagen-izquierda img,
.imagen-derecha img {
  width: 100%;
  max-width: 350px;
  border: 20px solid #666;
  border-radius: 10px;
  box-sizing: border-box;
}
/* Estilos para el título central */
.titulo-central {
  text-align: center;
  padding: 0px;
}

.titulo {
  font-size: 51px;
  font-weight: bold;
  text-shadow: 0px 0px 5px white;
  margin: 0;
}

/* Estilos para las etiquetas */
.etiqueta-vertical {
  position: absolute;
  left: 350px;
  top: 10px;
  writing-mode: vertical-rl;
  transform: rotate(1deg);
  font-size: 16px;
  letter-spacing: 30px;
}

.etiqueta {
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 16px;
  letter-spacing: 30px;
}
/* Estilos para los botones */

.botones {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
}

button {
  background-color: grey;
  color: white;
  border-radius: 5px;
  width: 140px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
/* Estilos para los botones al pasar el cursor */

@media (min-width: 768px) {
  .contenedor-cajon {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 40px;
  }
/* Ajuste de tamaño de fuente para pantallas más grandes */
  .titulo {
    font-size: 65px;
  }
/* Ajuste de posición de las etiquetas */
  .etiqueta {
    top: -40px;
    font-size: 18px;
    letter-spacing: 40px;
  }

  .etiqueta-vertical {
    font-size: 18px;
    letter-spacing: 40px;
  }
}
